name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:

  tests:
    name: Run tests
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0
      - uses: DeterminateSystems/nix-installer-action@e50d5f73bfe71c2dd0aa4218de8f4afa59f8f81d # v16
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Init Cabal
        run: nix-shell --run 'cabal update'
      - name: Build packages
        run: nix-shell --run 'cabal build all'
      - name: Run tests
        run: nix-shell --run 'cabal test buck-worker'
